@import "./components/styles/variables.scss";

.navbar{
  margin: 0;
  padding: 0.313rem;
  display: flex;
  flex-direction: row;
  background-color: $blue-dark;
  height: 100%;
  
  &_logo{
    display: flex;
    flex-direction: row;
    min-width: 17%;
    justify-content: space-around;
    &_img {
      width: 12rem;
      
    }
    &_bars{
      height: 3.125rem;
      color: white;
    }
  }
  
  &_top_nav{
    min-width: 83%;
  }
}

.page{
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &_sidebar.active {
    
    display: flex;
    opacity: 1;
    flex-direction: column; 
    min-width: 17%;
    height: auto;
    background-color: $blue-dark;
    box-shadow: rgb(75, 76, 77, 0.80) 0px 2px 10px;
    transition: opacity 1s ease-out;
  }
  &_sidebar {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  .side_nav {
    
    &_item{
        display: flex;
        flex-direction: column;
        color: $white;
        background-color: $blue-light;
        border-right: 0.063rem solid $blue-dark;
        width: 100%;
        min-height: 2rem;
        padding: 1rem;
        border-style: none;
        border-bottom: 0.125rem solid $blue-dark;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
    }
    &_item:hover{
        background-color: $dark-background;
        color: $green-light;
    }
  }
  
  &_content {
    width: 100%;
  }
}


@media only screen and (max-width: 960px) {
  html {
    font-size: 0.75rem;
  }
  .navbar{
    margin: 0;
    padding: 0.313rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &_logo{
      display: flex;
      flex-direction: row;
      min-width: 100%;
      justify-content: space-between;
      padding: 0rem 0.625rem;
      &_img {
        width: 16rem;
      }
      &_bars{
        height: 3.125;
        color: white;
      }
    }
    
    &_top_nav{
      display: flex;
      flex-direction: row;
      min-width: 100%;
      justify-content: center;
    }
  }

  .page{
    display: flex;
    flex-direction: column;
    
    &_sidebar.active {
    
      display: block;
      opacity: 0;
      flex-direction: column; 
      min-width: 17%;
      height: 0;
      background-color: $blue-dark;
      box-shadow: rgb(75, 76, 77, 0.80) 0px 2px 10px;
      transition: opacity 1s ease-out;
      
    }
    &_sidebar {
      transition: opacity 1s ease-out;
      opacity: 1;
      height: auto;
    }
  
    &_content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
