@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

@import "./components/styles/variables.scss";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: $black;
}

hr{
  border: 1.5px solid $black;
  background-color: $black;
}

h4{
  color: $black;
}


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
  
}
