@import "../../components/styles/variables.scss";

.accounts {
  background-color: $white;
  width: 100%;
  align-content: center;
  padding: 10px;
  
  h4{
    font-family: 'Fjalla One', sans-serif;
  }
  &_list{
    padding: 1rem;
  }
}