@import "../../components/styles/variables.scss";

.accounts {
  width: 100%;
  text-align: center;
  align-content: center;
  padding: 10px;
  color: $white;
  td{
    color: $white;
  }
  th{
    color: $white;
  }
}