@import "../../components/styles/variables.scss";

.bills{
  background-color: $white;
  padding: 20px;
  box-shadow: 3px 3px 5px #dbdada;
  margin: 1rem;
  
  &_edit{
    font-size: 1.2rem; 
    color: $blue-light;
    cursor: pointer;
  }
  &_edit :hover{
    color: $green_light;
  }
  &_delete{
    font-size: 1.2rem; 
    color: red;
    cursor: pointer;
  }
  &_delete :hover{
    color: $green_light;
  }
  
  
  th{
    border: none;
    background-color: #f1f2f6;
    
  }
}