@import '../../components/styles/variables.scss';

.bills {
	&_edit {
		font-size: 1.2rem;
		color: $white;
		background-color: #0288d1;
		width: 3rem;
		padding: 2px;
		border-radius: 0.25rem;
		cursor: pointer;
	}
	&_edit:hover {
		background-color: #29b6f6;
	}
	&_delete {
		font-size: 1.2rem;
		color: $white;
		background-color: #daae2a;
		width: 3rem;
		padding: 2px;
		border-radius: 0.25rem;
		cursor: pointer;
	}
	&_delete:hover {
		background-color: #FFC107;
	}
	
	&_pay {
		background-color: #03b98c;
		width: 3rem;
		padding: 2px;
		border-radius: 0.25rem;
		font-size: 1.2rem;
		color: $white;
		cursor: pointer;
	}
	&_pay:hover {
		background-color: #06d19e;
	}
}
