@import "../../components/styles/variables.scss";
.graphs {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: $black;
  height: auto;
  margin: 1rem;

  p{
    font-family: 'Fjalla One', sans-serif;
  }
}

.income_graph{
  background-color: #ADF7B6;
  height: 15rem;
  padding: 1rem;
  width: 33%;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 5px #acabab;
  border-radius: 0.5rem;
}
.expense_graph{
  background-color: #FFEE93;
  height: 15rem;
  padding: 1rem;
  width: 33%;
  margin: 0rem 1rem 2rem 1rem;
  box-shadow: 3px 3px 5px #acabab;
  border-radius: 0.5rem;
}
.balance_graph{
  background-color: #FFD7C2;
  height: 15rem;
  padding: 1rem;
  width: 33%;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 5px #acabab;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .graphs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $black;
    height: auto;
  }

  .income_graph{
    background-color: #ADF7B6;
    height: 18rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
  }
  .expense_graph{
    background-color: #FFEE93;
    height: 18rem;
    padding: 1rem;
    width: 100%;
    margin: 0rem 0rem 2rem 0rem;
    border-radius: 0.25rem;
  }
  .balance_graph{
    background-color: #FFD7C2;
    height: 18rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
  }
    
}