@import "../../components/styles/variables.scss";

.form_container{
  max-width: 50%;
  margin: auto;
  margin: 2rem;
  box-shadow: 2px 2px 5px 2px #dbdada;
  border-radius: 0.25rem;

}
.form_input{
  margin: 1rem;
}
.btn-submit{
  background-color: transparent;
  color: $green_light;
  border: 2px solid $green_light;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: $green_light;
  color: $white;
  cursor: pointer;
  border: 2px solid $green_light;
}

@media only screen and (max-width: 960px) {
  .form_container{
    max-width: 90%;
  }
}