@import "./styles/variables.scss";

button.side_nav {
    
    &_item{
        display: flex;
        flex-direction: column;
        color: $white;
        background-color: $blue-light;
        border-right: 1px solid $blue-dark;
        width: 12rem;
        min-height: 2rem;
        padding: 1rem;
        border-style: none;
        border-bottom: 2px solid $blue-dark;
    }
    &_item:hover{
        background-color: $dark-background;
        color: $green-light;
    }
}

