@import "./styles/variables.scss";

.top_nav_menu{
  width: 100%;
  margin: 0;
}

.top_nav_item {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  width: 100%;
  justify-content: right;
  color: $white;
  
  &_profile{
    border: 1px solid $white;
    border-radius: 25px;
    justify-content: center;
    padding-left: 10px;
  }
  
  &-image {
    max-width: 30px;
    align-self: center;
    padding-left: 10px;
  }
  
  &-notification{
    max-width: 30px;
  }
  li{
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 960px) {
  .top_nav_item {
    justify-content: center;
    color: $white;
  }
}