@import "../../components/styles/variables.scss";

.account_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  &_fold{
    background-color: $green-dark;
    box-shadow: 2px 2px 5px 2px #d4d2d2;
    border-radius: 0.5rem;
  }
  &_form{
    background-color: $white;
    width:100%;
    border-radius: 7rem 0.25rem 7rem 0.25rem;
    padding: 2rem;

    h5{
      font-family: 'Fjalla One', sans-serif;
      text-align: center;
    }
  }
}
.form_input{
  margin: 1rem;
}
.btn-submit{
  background-color: transparent;
  color: $green_light;
  border: 2px solid $green_light;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: $green_light;
  color: $white;
  cursor: pointer;
  border: 2px solid $green_light;
}

@media only screen and (max-width: 960px) {
  .form_container{
    max-width: 90%;
  }
}